/* FONT IMPORTS GO HERE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* DO NOT CHANGE */
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

/* DO NOT CHANGE */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* CHANGE VALUES FOR THEME */
:root {
  --radius: 0.625rem;
  --background: #080C08;
  --foreground: #FAFAFA;
  --card: #080C08;
  --card-foreground: #FAFAFA;
  --popover: #080C08;
  --popover-foreground: #FAFAFA;
  --primary: #FFA51F;
  --primary-foreground: #080C08;
  --secondary: #CC0000;
  --secondary-foreground: #FAFAFA;
  --muted: #401268;
  --muted-foreground: #FAFAFA;
  --accent: #051B7F;
  --accent-foreground: #FAFAFA;
  --destructive: #CC0000;
  --destructive-foreground: #FAFAFA;
  --border: #401268;
  --input: #401268;
  --ring: #FFA51F;
  --chart-1: #FFA51F;
  --chart-2: #CC0000;
  --chart-3: #051B7F;
  --chart-4: #401268;
  --chart-5: #FAFAFA;
  --sidebar: #080C08;
  --sidebar-foreground: #FAFAFA;
  --sidebar-primary: #FFA51F;
  --sidebar-primary-foreground: #080C08;
  --sidebar-accent: #401268;
  --sidebar-accent-foreground: #FAFAFA;
  --sidebar-border: #401268;
  --sidebar-ring: #FFA51F;
}

.dark {
  --background: #080C08;
  --foreground: #FAFAFA;
  --card: #080C08;
  --card-foreground: #FAFAFA;
  --popover: #080C08;
  --popover-foreground: #FAFAFA;
  --primary: #FFA51F;
  --primary-foreground: #080C08;
  --secondary: #CC0000;
  --secondary-foreground: #FAFAFA;
  --muted: #401268;
  --muted-foreground: #FAFAFA;
  --accent: #051B7F;
  --accent-foreground: #FAFAFA;
  --destructive: #CC0000;
  --destructive-foreground: #FAFAFA;
  --border: #401268;
  --input: #401268;
  --ring: #FFA51F;
  --chart-1: #FFA51F;
  --chart-2: #CC0000;
  --chart-3: #051B7F;
  --chart-4: #401268;
  --chart-5: #FAFAFA;
  --sidebar: #080C08;
  --sidebar-foreground: #FAFAFA;
  --sidebar-primary: #FFA51F;
  --sidebar-primary-foreground: #080C08;
  --sidebar-accent: #401268;
  --sidebar-accent-foreground: #FAFAFA;
  --sidebar-border: #401268;
  --sidebar-ring: #FFA51F;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    letter-spacing: 0em;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Inter, system-ui, sans-serif;
  }
  .font-sans {
    font-family: Inter, system-ui, sans-serif;
  }
  .font-serif {
    font-family: Lora, Georgia, serif;
  }
  .font-mono {
    font-family: Menlo, "Courier New", monospace;
  }
}